@using WebApp.App_LocalResources;
@using WebApp.DataServices;
@using WebApp.Models.ViewModels
@{ var ls = new LocalizationService();}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{bool is_ru = ls.GetCurrentLocal() == "ru";}
    @{ int i = 0; }

</head>
<body>    

<div class="row head">
       <div class="col-md-3 logo">
            <a href="/Home/Index"><img src="~/Content/images/logo.png" /></a>
        </div>
        <div class="col-md-3 textabout">
            <p>@(is_ru ? "Факультет" : "Computer science") <br />@(is_ru ? "Информатики" : "department") </p>
        </div>
        <div class="col-md-3 slon">
            <img src="~/Content/images/aaa.png" />
        </div>
        <div class="col-md-3">
            @*@Html.Partial("_LoginPartial")*@
            @*@Html.Partial("_LangSwitcherPartial")*@
        </div>
</div>

<div class="full-container">
                @RenderBody()
            </div>

<footer>
    @*<div class="footer" style="background: #03a9f4;
        width: 100%;
        float: none;
        height: 50px;
    "></div>*@
    <div class="menu">
        <ul>
            <li>
                <a href="/home/index/1" class="button" style="margin-left:30px">
                    Бакалавриат
                </a>
                <ul>
                    <li><a href="/home/index/3">@(is_ru ? "Бакалавриат 1 курс" : "Bachelor degree 1") </a></li>
                    <li><a href="/home/index/5">@(is_ru ? "Бакалавриат 2 курс" : "Bachelor degree 2") </a></li>
                    <li><a href="/home/index/6">@(is_ru ? "Бакалавриат 3 курс" : "Bachelor degree 3") </a></li>
                    <li><a href="/home/index/7">@(is_ru ? "Бакалавриат 4 курс" : "Bachelor degree 4") </a></li>
                </ul>
            </li>
            <li>
                <a href="/home/index/2" class="button">
                    Сотрудники
                </a>
            </li>
            <li>
                <a href="/home/index/2" class="button">
                    Магистратура
                </a>
            </li>
        </ul>
    </div>
    @Html.Partial("_LangSwitcherPartial")
  

</footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

